<!DOCTYPE html>
<html>
  <head>
    <title>Incident Report for {{ process.process_name }} on {{process.hostname}}</title>
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.css">
  </head>

  <script>
  $(function() {
      $("#expandall").on('click', function(e) {
        $('.collapse').collapse('show');
      });

      $("#collapseall").on('click', function(e) {
        $('.collapse.in').collapse('hide');
      });

      $("#networktabletoggle").on('click', function(e) {
        $("#networkconnectionstable").collapse('toggle');
      });

      $("#writerstoggle").on('click', function(e) {
        $("[id^=writercontent").collapse('toggle');
      });

      $("#executiontoggle").on('click', function(e) {
        $("[id^=executorcontent").collapse('toggle');
      });

      $("#childproctoggle").on('click', function(e) {
        $("[id^=childproccontent").collapse('toggle');
      });

      $("#filemodtabletoggle").on('click', function(e) {
        $("#filemodtable").collapse('toggle');
      });

      $("#regmodtabletoggle").on('click', function(e) {
        $("#regmodtable").collapse('toggle');
      });

      $("#modloadtabletoggle").on('click', function(e) {
        $("#modloadtable").collapse('toggle');
      });

      $("#crossproctoggle").on('click', function(e) {
        $("#crossproctable").collapse('toggle');
      });

      $("#binarydetailstoggle").on('click', function(e) {
        $("#binarydetailstable").collapse('toggle');
      });

      $('.fa').css('cursor', 'pointer');
      $('.label').css('cursor', 'pointer');

  });
  </script>
  <style>
    .navbar-brand>img {
       max-height: 100%;
       height: 100%;
       width: auto;
       margin: 0 auto;


       /* probably not needed anymore, but doesn't hurt */
       -o-object-fit: contain;
       object-fit: contain;

    }
    </style>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-inverse" style="margin-top: 20px">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#"><img src="./images/banner_logo.png"></a>
              </div>
              <div class="collapse navbar-collapse navbar-right">
                  <p class="navbar-text" id="status_string">Incident Summary Report</p>
              </div>
          </div>
      </nav>
      <div class="container-fluid">
          <h2><img src="{{process.process_md5}}.png" />
              <b>{{process.process_name}}</b> on <a href="{{cbserver}}/#host/{{process.sensor.id}}/"><b>{{process.hostname}}</b></a></h2>
        Executed at <b>{{process.start}}</b> by <b>{{process.username}}</b><br>
        Process seen <b>{{process.binary.frequency.process_count|default ('zero')}}</b> times and
        seen on <b>{{process.binary.frequency.computer_count | default('zero')}} </b> hosts<br>
        Report Generated at <b>{{time_generated}}</b> from CB Server Url: <b>{{cbserver}}</b><br>
        Carbon Black Process Analysis of GUID:
        <a href="{{cbserver}}/#analyze/{{process.id}}/1"><b>{{process.id}}</b></a>

        <h2>Binary Details <i id="binarydetailstoggle" class="fa fa-level-down"></i></h2>
        <div class="collapse in" id="binarydetailstable">
          <table class="table table-condensed">
            <caption>
            </caption>
            <thead>
              <tr>
                <th class ="col-xs-2">Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Binary MD5 Hash</td>
              <td><b>{{binary.md5}}</b></td>
            </tr>
            <tr>
              <td>Executable Image</td>
              <td>{{binary.is_executable_image}}</td>
            </tr>
              <td>File Size</td>
              <td>{{binary.orig_mod_len}}B</td>
            <tr>
              <td>Signed</td>
              <td>{{binary.digsig_result}}</td>
            </tr>
            <tr>
              <td>Digital Signature Publisher</td>
              <td>{{binary.digsig_publisher}}</td>
            </tr>
            <tr>
              <td>Digital Signature Company Name</td>
              <td>{{binary.company_name}}</td>
            </tr>
            {% for filename in binary.observed_filename %}
            <tr>
              {% if loop.index == 1 %}
              <td>Observed File Names</td>
              {% endif %}
              <td>{{filename}}</td>
            </tr>
            {% endfor %}

            </tbody>
          </table>

          <div class="col-xs-6">
            <table class="table table-condensed">
              <caption>Seen Hostnames
              </caption>
              <thead>
                <tr>
                  <th>Hostname</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
              {% for hostname in hostnames %}
              <tr>
                <td>{{hostname.hostname}}</td>
                <td>{{hostname.percentage}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-xs-6">
            <table class="table table-condensed">
              <caption>Seen File Paths
              </caption>
              <thead>
                <tr>
                  <th>File Path</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
              {% for filepath in filepaths %}
              <tr>
                <td>{{filepath.filepath}}</td>
                <td>{{filepath.percentage}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <table class="table table-condensed">
            <caption>Feed Hits
            </caption>
            <thead>
            <tr>
                <th class ="col-xs-2">Feed Name</th>
                <th>Feed URL</th>
                <th>Feed Score</th>
                <th>Feed Data</th>
            </tr>
            </thead>
            <tbody>

            {% for feedhit in feed_hits %}
            <tr>
              <td><img src="{{feedhit.feed}}.png" />{{feedhit.feed}}</td>
                <td>{{feedhit.url}}</td>
              <td>{{feedhit.score}}</td>
              <td>{{feedhit.data}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <hr />

        <button class="btn btn-default" id="expandall">Expand All</button>
        <button class="btn btn-default" id="collapseall">Collapse All</button>

        <h3 id="networktabletoggle">
          <span class="label label-primary">{{ netconns|length }} Network Connections</span>
        </h3>
         <div class="collapse" id="networkconnectionstable">
            <table class="table table-condensed">
                <caption>Network Connections
                </caption>
                <thead>
                  <tr>
                    <th class ="col-xs-2">Remote IP Address</th>
                    <th>Remote Port</th>
                    <th>Local IP Adress</th>
                    <th>Local Port</th>
                    <th>Protocol</th>
                    <th>Domain</th>
                    <th>Direction</th>
                  </tr>
                </thead>
                <tbody>
                {% for netconn in netconns %}
                <tr>
                    <td>{{netconn.remote_ip}}</td>
                    <td>{{netconn.remote_port}}</td>
                    <td>{{netconn.local_ip}}</td>
                    <td>{{netconn.local_port}}</td>
                    <td>{{netconn.proto}}</td>
                    <td>{{netconn.domain}}</td>
                    <td>{{netconn.direction}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        <h3 id="regmodtabletoggle"><span class="label label-primary">{{ regmods|length }} Registry Modifications</span></h3>
        <div class="collapse" id="regmodtable">
            <table class="table table-condensed">
                <caption>Registry Modifications
                </caption>
                <thead>
                  <tr>
                    <th class ="col-xs-2">Reg Mod Type</th>
                    <th>Path</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                {% for regmod in regmods %}
                <tr>
                    <td>{{regmod.type}}</td>
                    <td>{{regmod.path}}</td>
                    <td>{{regmod.timestamp}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
          <h3 id="modloadtabletoggle"><span class="label label-primary">{{ modloads|length }} Module Loads</span></h3>
            <div class="collapse" id="modloadtable">
            <table class="table table-condensed">
                <caption>Module Loads
                </caption>
                <thead>
                  <tr>
                    <th class ="col-xs-2">Module Md5</th>
                    <th>Path</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                {% for modload in modloads %}
                <tr>
                    <td>{{modload.md5}}</td>
                    <td>{{modload.path}}</td>
                    <td>{{modload.timestamp}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
          <h3 id="crossproctoggle"><span class="label label-primary">{{ crossprocs|length }} Cross Process Events</span></h3>
            <div class="collapse" id="crossproctable">
            <table class="table table-condensed">
                <caption>Cross Process Events
                </caption>
                <thead>
                  <tr>
                    <th class ="col-xs-2">Process</th>
                      <th>ID</th>
                      <th>md5</th>
                    <th>Type</th>
                      <th>Privilges</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                {% for cp in crossprocs %}
                <tr>
                    {% if cp.is_target %}
                    <td>{{cp.target_path}}</td>
                    <td>{{cp.target_proc.unique_id}}</td>
                    <td>{{cp.target_md5}}</td>
                    <td>{{cp.type}}</td>
                    <td>{{cp.privilges}}</td>
                    <td>{{cp.timestamp}}</td>
                    {%else%}
                    <td>{{cp.source_path}}</td>
                    <td>{{cp.source_proc.unique_id}}</td>
                    <td>{{cp.source_md5}}</td>
                    <td>{{cp.type}}</td>
                    <td>{{cp.privilges}}</td>
                    <td>{{cp.timestamp}}</td>
                    {%endif%}
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        <h3 id="filemodtabletoggle"><span class="label label-primary">{{ filemods|length }} File Modifications</span></h3>
        <div class="collapse" id="filemodtable">
            <table class="table table-condensed">
                <caption>File Modifications
                </caption>
                <thead>
                  <tr>
                    <th class ="col-xs-2">File Mod Type</th>
                    <th>Path</th>
                    <th>md5</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                {% for filemod in filemods %}
                <tr>
                    <td>{{filemod.type}}</td>
                    <td>{{filemod.path}}</td>
                    <td>{{filemod.md5}}</td>
                    <td>{{filemod.timestamp}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>

        <br />
        <hr />
        <br />

        <h2>Writers Tree <i id="writerstoggle" class="fa fa-level-down"></i></h2>
        {% for writer in writers %}
        <div id="writer{{loop.index}}">
            <h3>
              <img width="32" src="{{writer.get('process_md5',None)}}.png" />
                {% if loop.index == writers_count %}
                <span data-toggle="collapse" data-target="#writercontent{{loop.index}}" class="label label-danger">
                {% else %}
                <span data-toggle="collapse" data-target="#writercontent{{loop.index}}" class="label label-warning">
                {% endif %}
                {{writer.get('process_name',None)}}</span>
            </h3>
            <div class="collapse in" id="writercontent{{loop.index}}">
            <table class="table table-condensed">
                <caption>Process seen {{writer.binary.frequency.process_count}} times and seen on {{writer.binary.frequency.computer_count}} hosts
                </caption>
                <tbody>
                <tr>
                    <td class ="col-xs-2">Process Path</td>
                    <td>{{writer.path}}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{writer.username}}</td>
                </tr>
                <tr>
                    <td>Command Line</td>
                    <td>{{writer.cmdline}}</td>
                </tr>
                <tr>
                    <td>Process GUID</td>
                    {%if writer.unique_id is not none%}
                    <td>{{writer.unique_id}}</td>
                    {%else%}
                    <td>{{writer.id}}</td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Binary Information</td>
                    <td>{{writer.binary.md5}}-{{writer.binary.digsig_result}}-{{writer.binary.product_version}}-{{writer.binary.company_name}}-{{writer.binary.digsig_publisher}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        {% endfor %}
        <i class="fa fa-arrow-down fa-2x"></i>
        <br />
        <hr />
        <br />
          <h2>Execution Tree <i id="executiontoggle" class="fa fa-level-down"></i></h2>
          {% for executor in parents %}
          <div id="executor{{loop.index}}">
          <h3>
            <img width="32" src="{{executor.process_md5|default('images/default')}}.png">
            {% if process.unique_id == executor.unique_id %}
            <span data-toggle="collapse" data-target="#executorcontent{{loop.index}}" class="label label-danger">
            {% else %}
            <span data-toggle="collapse" data-target="#executorcontent{{loop.index}}" class="label label-warning">
            {% endif %}
            {% if executor.process_name is not none and executor.process_name %}
            {{executor.process_name}}
            {%else%}
            {{executor.cmdline}}
            {%endif%}
            </span>
          </h3>
            <div class="collapse in" id="executorcontent{{loop.index}}">
            <table class="table table-condensed">
            {% if executor.binary is not none and executor.binary%}
            <caption>Process Seen {{executor.binary.frequency.process_count}}
            times and seen on {{executor.binary.frequency.computer_count}} hosts
            </caption>
            {%endif%}
            <tbody>
                <tr>
                    <td class ="col-xs-2">Process Path</td>
                    <td>{{executor.path}}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{executor.username}}</td>
                </tr>
                <tr>
                    <td>Command Line</td>
                    <td>{{executor.cmdline}}</td>
                </tr>
                <tr>
                    {%if executor.unique_id is not none and executor.unique_id%}
                    <td>Process GUID</td>
                    <td>{{executor.unique_id}}</td>
                    {%else%}
                    <td>Process ID</td>
                    <td>{{executor.id}}</td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Binary Information</td>
                    {%if executor.binary is not none%}
                    <td>{{executor.binary.md5}}-{{executor.binary.digsig_result}}-{{executor.binary.product_version}}-{{executor.binary.company_name}}-{{executor.binary.digsig_publisher}}</td>
                     {%else%}
                    <td>{{executor.binaries}}</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            </div>
          </div>
        {% endfor %}
        <i class="fa fa-arrow-down fa-2x"></i>
        <br />
        <hr />
        <br />
        <h2>{{children|length}} Child Processes <i id="childproctoggle" class="fa fa-level-down"></i></h2>
          {% for childproc in children %}
          <div id="childproc{{loop.index}}">
          <h3>
            <img width="32" src="{{childproc.process.process_md5|default("images/default")}}.png" />
            <span data-toggle="collapse" data-target="#childproccontent{{loop.index}}" class="label label-default">
            {% if childproc.process.process_name is not none and childproc.process.process_name%}
            {{childproc.process.process_name}}
            {%else%}
            {{childproc.process.cmdline}}
            {%endif%}
            </span>
          </h3>
          <div class="collapse in" id="childproccontent{{loop.index}}">
            <table class="table table-condensed">
                {% if childproc.process.binary is not none and childproc.process.binary%}
                <caption>Process seen {{childproc.process.binary.frequency.process_count}} times and seen on {{childproc.process.binary.frequency.computer_count}} hosts
                </caption>
                {%else%}
                    Process seen 0 times on 0 hosts
                {%endif%}
                <tbody>
                <tr>
                    <td class ="col-xs-2">Process Path</td>
                    <td>{{childproc.process.path}}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{childproc.process.username}}</td>
                </tr>
                <tr>
                    <td>Command Line</td>
                    <td>{{childproc.process.cmdline}}</td>
                </tr>
                <tr>
                    {%if childproc.process.unique_id is not none and childproc.process.unique_id %}
                    <td>Process GUID</td>
                    <td>{{childproc.process.unique_id}}</td>
                    {%else%}
                    <td>Process ID</td>
                    <td>{{childproc.process.id}}</td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Binary Information</td>
                    <td>{{childproc.process.binary.md5}}-{{childproc.process.binary.digsig_result}}-{{childproc.process.binary.product_version}}-{{childproc.process.binary.company_name}}-{{childproc.process.binary.digsig_publisher}}</td>
                </tr>
                </tbody>
            </table>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </body>
</html>
